<%= form_for @dimension do |f| %>
  <h3>Upload Image</h3>
  <%= f.file_field :image_upload %><br />

  <h3>Image Resize Dimensions</h3>
  <%= f.label :image_width, 'Width: ' %>
  <%= f.text_field :image_width %><br /><br />

  <%= f.label :image_height, 'Height: ' %>
  <%= f.text_field :image_height %><br /><br /><br />

  <%= f.submit "Submit" %>
<% end %>